#elem1 {
    text-shadow: 10px 5px 3px  
}
#elem2 {
    text-shadow: -10px -5px -0px green
}
#elem3 {
    text-shadow: 15px -10px 0px green
}
#elem4 {
    text-shadow: 0px 0px 5px green
}
#elem5 {
	text-shadow: 5px 5px 3px red, -5px -5px 3px green ;
}
#elem6 {
    text-shadow: 2px 2px 2px black   
}
#elem7 {
    text-shadow: 0px 0px 4px black
}
#elem8 {
    text-shadow: 0 0 3px red;
}
#elem9 {
    text-shadow: 10px 10px 2px red, -10px -10px 2px blue ;
}
#elem10 {
    text-shadow: 10px 10px 1px red, 20px 20px 1px blue ;
}
#box1 {
    box-shadow: 20px 15px 0px red;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box2 {
    box-shadow: 20px -15px 0px green;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box3 {
    box-shadow: inset 0px 0px 5px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box4 {
    box-shadow: inset 4px 3px 3px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box5 {
    box-shadow:  0px 2px 0px black, 0px -2px 0px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box6 {
    box-shadow:  0px 30px 0px black, 0px -30px 0px black, 30px 0px 0px black, -30px 0px 0px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box7 {
    box-shadow:  20px 30px 0px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box8 {
    box-shadow:  20px 30px 10px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box9 {
    box-shadow:  20px 30px 10px black, -20px -30px 10px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box10 {
    box-shadow: inset 4px 4px 8px black;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#box11 {
    box-shadow: inset 4px 4px 8px blue, inset -4px -4px 8px red;
	border: 1px solid black;
	width: 200px;
	height: 200px;
}
#cc1 {
	background: linear-gradient(yellow, white);
    border: 1px solid black;
	width: 200px;
	height: 200px;
}
#cc2 {
	background: linear-gradient(90deg, yellow, white);
    border: 1px solid black;
	width: 200px;
	height: 200px;
}
#cc3 {
	background: linear-gradient(270deg, yellow, white);
    border: 1px solid black;
	width: 200px;
	height: 200px;
}
#cc4 {
	background: linear-gradient(315deg, red, white);
    border: 1px solid black;
	width: 200px;
	height: 200px;
}
#cc5 {
	background: linear-gradient(to left, blue, red);
    border: 1px solid black;
	width: 200px;
	height: 200px;
}